<br>
<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="grados" class="form-label">Grados a convertir </label>
            <input type="text" [(ngModel)]="grados" class="from-control" name="grados" placeholder="Grados">
        </div>

        <form>
            <input type="radio" value="fahrenheit" name="grados" [(ngModel)]="temp" class="btn btn-outline-primary">
            <label for="html"> Fahrenheit a Centigrados</label><br><br>
            <input type="radio" value="centigrados" name="grados" [(ngModel)]="temp" class="btn btn-outline-primary">
            <label for="html"> Centigrados a Fahrenheit </label><br><br>
        </form>

        <div class="mb-3">
            <button (click)="gradoscf()" class="btn btn-primary">Convertir</button>
        </div>
    </div>
    <div class="col-6">
        <h2>Resultado:{{resultado}}</h2>
    </div>
</div>