body {
    background-image: url(https://thebrandinquirer.files.wordpress.com/2019/07/1-cinepolis-nuevo-redisencc83o-new-logo-redesign-2019-brand-my-f-opinion-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}